* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(180deg, 52%, 96%);
}

.attribution {
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.header {
  background-image: url(./images/bg-header-desktop.svg);
  background-color: hsl(180deg, 29%, 50%);
  height: 150px;
}

.jobs-container {
  width: 90%;
  margin: 0 auto;
}

.job-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 20px hsla(180deg, 29%, 50%, 0.4);
  border-radius: 5px;
  padding: 30px;
  margin: 25px auto;
}
.job-container .company-name {
  color: hsl(180deg, 29%, 50%);
}
.job-container .job-info {
  display: flex;
}
.job-container .job-details {
  margin-left: 30px;
}
.job-container .job-metadata-top {
  display: flex;
}
.job-container .job-metadata-top .featured-badge,
.job-container .job-metadata-top .new-badge {
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 20px;
}
.job-container .job-metadata-top .featured-badge {
  background-color: black;
}
.job-container .job-metadata-top .new-badge {
  background-color: hsl(180deg, 29%, 50%);
}
.job-container .job-metadata-bottom {
  display: flex;
}
.job-container .job-role {
  margin: 7px 0;
}
.job-container .job-role:hover {
  cursor: pointer;
  color: hsl(180deg, 29%, 50%);
}
.job-container .job-metadata-bottom {
  color: hsl(180deg, 8%, 52%);
}
.job-container .job-metadata-bottom ul {
  display: inline-flex;
}
.job-container .job-metadata-bottom ul li {
  margin-right: 45px;
}
.job-container .job-metadata-bottom li:first-of-type {
  list-style: none;
}
.job-container .job-languages ul {
  list-style: none;
}
.job-container .job-languages ul li {
  display: inline-block;
  color: hsl(180deg, 29%, 50%);
  background-color: hsl(180deg, 31%, 95%);
  padding: 7px;
  border-radius: 3px;
  font-weight: 700;
  margin: 7px;
}
.job-container .job-languages ul li:hover {
  cursor: pointer;
  color: white;
  background-color: hsl(180deg, 29%, 50%);
}

.featured-job {
  border-left: 5px solid hsl(180deg, 29%, 50%);
}

.filter-bar {
  width: 90%;
  margin-top: -40px;
  padding: 30px;
}
.filter-bar .clear {
  color: hsl(180deg, 29%, 50%);
  cursor: pointer;
  font-weight: 700;
}
.filter-bar .clear:hover {
  text-decoration: underline;
}
.filter-bar .icon-remove {
  background-color: hsl(180deg, 29%, 50%);
  padding: 7px;
  padding: 7px auto;
  margin-left: 7px;
  margin: auto;
}
.filter-bar ul li {
  padding-right: 0 !important;
}
.filter-bar ul li:hover .icon-remove {
  background-color: black;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    background-image: url(./images/bg-header-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
  }
  .job-container {
    position: relative;
    margin-top: 75px;
    flex-direction: column;
    align-items: flex-start;
  }
  .job-container .job-info .job-details {
    margin: 25px 10px;
  }
  .job-container .job-info .company-logo {
    position: absolute;
    top: -45px;
  }
  .job-container .job-languages {
    border-top: 2px solid rgba(128, 128, 128, 0.35);
    width: 95%;
    padding-top: 10px;
  }
  .filter-bar {
    margin-top: -50px;
    flex-direction: row;
    align-items: center;
  }
  .filter-bar .job-languages {
    border: none;
  }
}/*# sourceMappingURL=styles.css.map */